<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">ENTRADA RECHAZADA</div>
        <button
            mat-icon-button
            [tabIndex]="-1"
            (click)="discard()">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <!-- Compose form -->
    <form
        class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
        [formGroup]="declineForm">

        <!-- Decline Reason -->
        <mat-form-field class="w-full fuse-mat-dense flex-auto">
            <mat-label>Motivo Rechazo</mat-label>
            <mat-icon
                matPrefix
                class="hidden sm:flex icon-size-5"
                [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
            <mat-select [formControlName]="'motivo_rechazo'">
                <mat-option [value]="'Cantidad de Items Diferentes'">Cantidad de Items Diferentes</mat-option>
                <mat-option [value]="'Otro Motivo'">Otro Motivo</mat-option>

            </mat-select>
        </mat-form-field>

        <!-- Description -->
        <mat-form-field [subscriptSizing]="'dynamic'">
            <mat-label>Descripción</mat-label>
            <textarea
                class="textarea"
                matInput
                [placeholder]="'Describa el motivo de su rechazo !!!'"
                [formControlName]="'observacion'"
                [rows]="4"></textarea>
        </mat-form-field>

        <!-- Actions -->
        <div class="flex flex-col sm:flex-row sm:items-center justify-end mt-4 sm:mt-6">
            <div class="flex items-center mt-4 sm:mt-0">
                <!-- Discard -->
                <button
                    class="ml-auto sm:ml-0"
                    mat-stroked-button
                    [color]="'warn'"
                    (click)="discard()">
                    Cancelar
                </button>
                <!-- Save -->
                <button
                    class="ml-3"
                    mat-stroked-button
                    [color]="'primary'"
                    (click)="save()">
                    <span>Guardar</span>
                </button>
            </div>
        </div>
    </form>
</div>
